$main-color: #509FF2;
$main-color-hover: lighten($main-color, 30%);
$main-bg-color: #2e2e2e;
$main-font:"Microsoft Yahei UI", "Microsoft YaHei";
$header-background:#2e2e2e;
$header-color:#fff;
$left-background:#3D3D3D;